= form_with model: pokemon do |f|
	- if pokemon.errors.any?
		%h2
			= pluralize(pokemon.errors.count, "error")
			prohibited this pokemon from being saved:
		%ul
			- pokemon.errors.each do |error|
				%li= error.full_message

	.field
		= f.label :name
		= f.text_field :name

	.field
		= f.label :pokemon_type
		= f.text_field :pokemon_type

	.field
		= f.label :region
		= f.text_field :region

	.action
		= f.submit 
