<tbody>
    <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.pokemon_type %></td>
        <td><%= pokemon.region %></td>
        <td>
          <%= link_to t(".show"), pokemon %>
          <%= link_to t(".edit"), edit_pokemon_path(pokemon) %>
          <%= link_to t(".destroy"), pokemon, method: :delete, data: { confirm: t(".destroy_confirmation") } %>
        </td>
    </tr>
</tbody>
