<p id="notice"><%= notice %></p>

<h1>Pokemon</h1>

<%= form_with url: "/pokemon", method: :get, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit t(".search") %>
<% end %>

<%= link_to t(".advanced_search"), search_pokemon_index_path %>

<% if @pokemons.empty? %>
    <p>No Pokemon were found.</p>
<% else %>
    <table>
        <thead>
            <tr>
                <th><%= t(".name") %></th>
                <th><%= t(".type") %></th>
                <th><%= t(".region") %></th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <%= render @pokemons %>
    </table>
<% end %>

<br>

<%= link_to t(".new_pokemon"), new_pokemon_path %>
