<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".name") %>:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong><%= t(".type") %>:</strong>
  <%= @pokemon.pokemon_type %>
</p>

<p>
  <strong><%= t(".region") %>:</strong>
  <%= @pokemon.region %>
</p>

<%= link_to t(".edit"), edit_pokemon_path(@pokemon) %> |
<%= link_to "Back", :back %>
